<div class ="container mt-4">

    <h2 class ="text-center mb-4">
        Credit Score Management dashboard
    </h2>

    <div class="row g-4">

        <div class = "col-md-3">
            <div class = "card text-white bg-primary shadow h-100">
                <div class = "card-body text-center">
                  <h5>Total Customers</h5>
                  <h2>{{ dashboard?.totalCustomers }}</h2>
                  <button class = "btn btn-light mt-3" (click) = viewAllCustomers()> View Customers</button>
                  </div>
    </div>
    </div>

    <div class = "col-md-3 mb-4">
            <div class = "card text-white bg-primary shadow h-100">
                <div class = "card-body text-center">
        <h5>Total Credit Scores</h5>
        <h2>{{ dashboard?.totalCreditScores }}</h2>
        <button class = "btn btn-light mt-3" (click)= "viewCreditScores()"> View Scores</button>
    </div>
    </div>
    </div>

 <div class = "col-md-3 mb-4">
            <div class = "card text-white bg-primary shadow h-100">
                <div class = "card-body text-center">
        <h5>Total Credit History</h5>
        <h2>{{ dashboard?.totalCreditHistory }}</h2>
         <button class = "btn btn-light mt-3" (click) = "viewHistory()">View History</button>
    </div>
</div>
</div>


    <div class = "col-md-3 mb-4">
            <div class = "card text-white bg-primary shadow">
                <div class = "card-body text-center">
        <h5>Total Audit Logs</h5>
        <h2>{{ dashboard?.totalAuditLogs }}</h2>
        <button class = "btn btn-light mt-3" (click) = "viewAuditLogs()"> View Audit Logs</button>
        </div>
        </div>
        </div>
    </div>

<div *ngIf = "showCustomerList" class="mt-5 table-responsive shadow-sm rounded">
      <h3 class ="mb=3 text-secondary">Customer Details</h3>


            <table class = "table table-striped table-hover table-bordered align-middle mb=0">
                <thead class = "table-dark">
                    <tr>
                        <th>Customer ID</th>
                        <th>Email</th>
                        <th>EmploymentYears</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Mobile</th>
                        <th>MonthlyIncome</th>
                        <th>Occupation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor ="let customer of customerList">
                        <td>{{ customer.customerId }}</td>
                        <td>{{ customer.email }}</td>
                        <td>{{ customer.employmentYears }}</td>
                        <td>{{ customer.firstName }}</td>
                        <td>{{ customer.lastName }}</td>
                        <td>{{ customer.mobile }}</td>
                        <td>{{ customer.monthlyIncome }}</td>
                        <td>{{ customer.occupation }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

<div *ngIf = "showHistoryTable" class = "mt-5 shadow-sm rounded p-3 bg-white">
    <h3 class = "mb-3 text-secondary">Credit History Records</h3>
    <div class = "table-responsive">
        <table class ="table table-striped table-hover align-middle">
            <thead class = "table-dark">
                <tr>
                      <th>History ID</th>
                      <th>Active Loans</th>
                      <th>Credit Card Usage</th>
                      <th>Defaults</th>
                      <th>Late Payments</th>
                      <th>Total Loans</th>
                      
                      
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let item of displayCreditList">

                    <td>{{ item.historyId }}</td>
                    <td>{{ item.activeLoans }}</td>
                    <td>{{ item.creditCardUsage }}</td>
                    <td>{{ item.defaults }}</td>
                    <td>{{ item.latePayments }}</td>
                    <td>{{ item.totalLoans }}</td>
                    
                   
                </tr>
               
            </tbody>
          </table>
    </div>
    </div>

        
        <div *ngIf = "showAuditTable" class = "mt-5">
            <h3 class = "mb-3 text-secondary">Audit Logs</h3>
            <div class = "table-responsive shadow-sm rounded">
                <table class = "table table-striped table-hover">
            <thead class = "table-dark">
                <tr>
                    <th>Log ID</th>
                    <th>Action</th>
                    <th>Action Time</th>
                </tr>
            </thead>
            <tbody>
        <tr *ngFor = "let item of displayList">
            <td>{{ item.logId }}</td>
            <td>{{ item.action }}</td>
            <td>{{ item.actionTime }}</td>
        </tr>
        </tbody>
    </table>
        </div>
    </div>

    <div *ngIf = "showScoreList" class = "mt-5">
            <h3 class = "mb-3 text-secondary">Credit Scores</h3>
            <div class = "table-responsive shadow-sm rounded">
                <table class = "table table-striped table-hover">
            <thead class = "table-dark">
                <tr>
                    <th>Score ID</th>
                    <th>Score</th>
                    <th>Risk Category</th>
                    <th>Generated Date</th>
                </tr>
            </thead>
            <tbody>
        <tr *ngFor = "let item of displayCreditScores">
            <td>{{ item.scoreId }}</td>
            <td>{{ item.score }}</td>
            <td>{{ item.riskCategory }}</td>
            <td>{{ item.generatedDate }}</td>
        </tr>
        </tbody>
    </table>
        </div>
    </div>


